.contenedor{
        .ft{
            align-items: center;
            background-color: black;
            margin-top: -7%;
            padding-top: 0%;
            .ft__sus{
                margin-left: 10%;
                margin-top: 3px;
                .ft__new{
                    margin-top: 10px
                }
                .ft__new-titulo{
                    display: grid;
                    margin-left: 20%;
                    justify-content: start;
                    font-weight: bold;
                    font-family: 'Montserrat', sans-serif;
                    color: white;
                    font-size: 15px;
                }
                .ft__suscribite{
                    display: grid;
                    margin-left: 0%;
                    margin-top: 1%;
                    color: white;
                    font-size: 13PX;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: bold;
                    
                }
                .ft__m{
                    display: grid;
                    justify-content: left;
                    color: white;
                    font-family: 'Montserrat', sans-serif;
                    margin-left: 9%;
                }
            }
            .ft__info{
                justify-content: right;
                margin-left: 25%;
                .ft__ul{
                    list-style: none;
                    .ft__li{
                        margin-top:10% ;
                        display: flex;
                        flex-direction: column-reverse;
                    .ft__a{
                            text-decoration: none;
                            .ft__li-contacto{
                            color: white;
                            font-family: $letraMon;
                            font-size: 15px;
                            font-weight: bold;
                            }
                            .ft__li-pf{
                            color: white;
                            font-family: $letraMon;
                            font-size: 15px;
                            font-weight: bold;
                            margin-left: -16%;
                            }
                            .ft__li-legales{
                            color: white;
                            font-family: $letraMon;
                            font-size: 15px;
                            font-weight: bold;
                            margin-left: 2%;
                            }
                        }
                    }
                }
                

                }
                .ft__fs{
                    display: grid;
                    justify-content: center;
                    margin-top: 3%;
                    .ft__titulo{
                    display: grid;
                    justify-content: center;
                    font-family: $letraMon;
                    font-size: 15px;
                    font-weight: bold;
                    margin-left: 0%;
                    margin-top: -5%;
                    color: white;
                    }
                }       
                .ft__social{
                    display: flex;
                    justify-content: space-evenly;
                    margin-top: -5%;
                }
            }
        .pie{
            background-color: rgb(218, 216, 216);
            .pie__p{
                font-family: 'Spectral SC', serif;
                text-align: center;
                color: rgb(84, 85, 85);
                font-size: 15px;
            }
        }
}
@media only screen and (max-width: 768px){
    .contenedor{
        footer{
            grid-area: footer;
            width: 100%;
            
            .ft{
                display: flex;
                flex-direction: column;
                padding-bottom: 5%;
                .ft__sus{
                    display: grid;
                    justify-content: center;
                    margin-top: 5%;

                    
                .ft__new{
                    .ft__new-titulo{
                        display: flex;
                        text-align: center;
                        font-size: 13px;
                        margin-left: 30%;
                    }
                    .ft__suscribite{
                        display: flex;
                        font-size: 10px;
                        margin-right: 3%;
                    }
                }
                    .ft__m{
                        display: flex;
                        margin-right: 15%;
                    }
                }
                
                .ft__fs{
        
                    .ft__titulo{
                        margin-right: -10%;
                        font-size: 13px;
                        display: none;
                    }
                    
                }
                .ft__social{
                            
                            display: flex;
                            justify-content: space-evenly;
                            margin-top: 2%;
                            width: 100%;
                            img{
                                display: flex;
                                padding: 5%;   
                            }      
                }
                .ft__info{
                    display: flex;
                    width: 100%;
                    margin-right: 10%;
                    margin-top: 3%;
                    justify-content: center;
                    .ft__ul{
                        
                        .ft__li{
                            
                            .ft__a{
                            .ft__li-contacto{
                                font-size: 12px;
                                margin-bottom: 0px;
                            }
                            .ft__li-pf{
                                font-size: 12px;
                                margin-left: -30% ;
                                margin-bottom: 0px;
                                }
                            .ft__li-legales{
                                font-size: 12px;
                                margin-bottom: 0px;
                            }
                            }
                        }
                    }
                .pie{
                    .pie__p{
                        font-size: 12px;
                        }
                    }
                    
                }
            }
        }
    }   
}

@media only screen and (min-width: 769px) and (max-width: 1300px){
    .contenedor{
        footer{
            .ft{
                align-items: center;
                background-color: black;
                margin-top: -7%;
                padding-top: 0%;
                .ft__sus{
                    margin-left: 10%;
                    margin-top: 3px;
                    .ft__new{
                        margin-top: 10px
                    }
                    .ft__new-titulo{
                        display: grid;
                        margin-left: 20%;
                        justify-content: start;
                        font-weight: bold;
                        font-family: 'Montserrat', sans-serif;
                        color: white;
                        font-size: 13px;
                    }
                    .ft__suscribite{
                        display: grid;
                        margin-left: 2%;
                        margin-right: 28%;
                        margin-top: 1%;
                        color: white;
                        font-size: 10PX;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: bold;
                        
                    }
                    .ft__m{
                        display: grid;
                        justify-content: left;
                        color: white;
                        font-family: 'Montserrat', sans-serif;
                        margin-left: 2%;
                        margin-right: 29%;
                        margin-bottom: 5%;
                    }
                }
                .ft__info{
                    justify-content: right;
                    margin-left: 25%;
                    .ft__ul{
                        list-style: none;
                        .ft__li{
                            margin-top:10% ;
                            display: flex;
                            flex-direction: column-reverse;
                        .ft__a{
                                text-decoration: none;
                                padding: 0px;
                                margin: 0px;
                                .ft__li-contacto{
                                color: white;
                                font-family: $letraMon;
                                font-size: 12px;
                                font-weight: bold;
                                padding: 0px;
                                margin: 0px;
                                }
                                .ft__li-pf{
                                color: white(100, 25, 25);
                                font-family: $letraMon;
                                font-size: 12px;
                                font-weight: bold;
                                text-align: center;
                                padding: 0px;
                                margin-left: -50%;
                                }
                                .ft__li-legales{
                                color: white;
                                font-family: $letraMon;
                                font-size: 12px;
                                font-weight: bold;
                                margin-left: 2%;
                                }
                            }
                        }
                    }
                    
    
                    }
                    .ft__fs{
                        display: grid;
                        justify-content: center;
                        margin-top: 3%;
                        .ft__titulo{
                        display: grid;
                        justify-content: center;
                        font-family: $letraMon;
                        font-size: 13px;
                        font-weight: bold;
                        margin-left: 0%;
                        margin-top: -5%;
                        color: white;
                        }
                    }       
                    .ft__social{
                        display: flex;
                        justify-content: space-evenly;
                        margin-top: -5%;
                    }
                
            .pie{
                background-color: rgb(218, 216, 216);
                .pie__p{
                    font-family: 'Spectral SC', serif;
                    text-align: center;
                    color: rgb(84, 85, 85);
                    font-size: 20px;
                    }
                }   
            } 
        }
    }
}