.contenedor{
        header{
            z-index: 1001;
            position: sticky;
            top: 0px;
            .enviogratis{
                background-color: white;
                height: 20px;
                width: 100%;
                h2{
                    font-size: 13px;
                    font-family: 'Montserrat', sans-serif;
                    text-align: center;
                    padding-top: 2px;  
                    }
                }
            a{
            text-decoration: none;
                #fondoh{
                background-color: black;
                }    
                h1{      
                    color: rgb(253, 251, 251);
                    font-weight: bold;
                    letter-spacing: 5px;
                    font-size: 30px;
                    font-family: 'Spectral SC', serif;
                    text-align: center;
                    &:hover{
                        color: rgb(235, 231, 231);
                            } 
                    }
                }
                .navr{
                    display: none;
                }
                nav{
                    padding: 0px;
                    margin: 0px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: white;
                    .menu{
                        list-style: none;
                        padding: 0px;
                        margin:0px;
                        margin-left: 25%;
                        display: flex;
                        font-family: $letraMon;
                        font-weight: bold;
                        a{
                        text-decoration: none;
                        color: black;
                        padding: 1rem;
                        margin-right: 2rem;
                        margin-left: 2rem;
                        display: block;
                        &:hover{
                            background-color: rgb(236, 236, 236);
                            font-weight: bold;
                            transform: scale(1.1,1.1);
                            color: black;
                            }
                        }
                        li{
                            &:hover{
                                ul{
                                    display: block;
                                }
                            }
                            ul{
                            list-style: none;
                            position: absolute;
                            display: none;
                            background-color: white;
                            .oculto{
                            left: 24%;
                            li{
                                text-decoration: none;
                                background-color: white;
                                color: black;
                                font-weight: bold;
                                padding: 0.7rem;
                                &:hover{
                                    color: rgb(216, 216, 216);
                                        }
                                
                                    }
                                }
                            }
                        }
                    }
                    .iconos{
                        ul{
                        list-style: none;
                        margin: 0px;
                        padding: 0px;
                            li{
                                display: inline-block;
                                a{
                                    padding: 1rem;
                                    margin-right: 2rem;
                                    margin-left: 2rem;
                                    display: block;
                                    width: 5px;
                                    padding: 0px;
                                    &:hover{
                                        transform: scale(1.2);
                                    }
                                }
                            }
                
                        }
                    }    
                }
        }
}
@media only screen and (max-width: 768px){
    .contenedor{
        background-color: white;
        
            header{
                z-index: 1001;
                
                nav{
                    display: none;
                    
                    }    
                .navr{
                    position: sticky;
                    top: 0;
                    display: block;
                    .contenedorr{
                        .botonr{
                            box-shadow: none;
                        }
                    }
                    .iconosr{
                        display: flex;
                        flex-direction: row;
                        margin-right: 0px;
                        a{
                            padding-right: 20px;
                            &:hover{
                                transform: scale(1.2);
                                }
                            }
                        }
                    }
                }
            }
}

@media only screen and (min-width: 769px) and (max-width: 1300px){
    .contenedor{
            background-color: white;
            header{
                nav{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: auto;
                    background-color: white; 
                    .menu{ 
                        padding: 0px;
                        margin:0px;
                        margin-left: 0%;
                        margin-bottom: 3px;
                        li{ 
                            a{
                                margin: 0%;
                                font-size: 13px;
                                ul{
                                    .oculto{
                                    left: 1%;
                                        }
                                    }
                                }
                            
                            }     
                        }
                    .iconos{
                            margin-left: 70%;
                            margin-top: -45px;
                            margin-bottom: 10px;
                            ul{
                                li{
                                    a{
                                        margin-right: 25px;
                                        margin-left: 0rem;
                                        display: block;
                                        padding: 0px;
                                        &:hover{
                                            transform: scale(1.2);
                                        }
                                    }
                                }
                            }    
                        }
                    }    
                }
    }
}
