.contenedor{
        main{
            .imagen{
                display: block;
                text-align: center;
                padding: 0px;
                margin:0px;
                top: 0px;
                .imagen__img{
                    width: 100%;
                }
            }
            .imagenr{
                display: none;
            }
            .carteras{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                margin-top: 5%;
                margin-bottom: 5%;
                .carteras__img{
                    width: 150px;
                    border: white;
                    opacity: 1;
                    &:hover{
                    opacity: .4;
                    }
                }
                .carteras__descripcion{
                        .carteras__nombre{
                            margin-top: 30px ;
                            margin-left: 30px;
                            font-family: $letraMon;
                            font-weight: bold;
                            color: black;
                            font-size: 15PX;
                        }
                        .carteras__precio{
                            margin-left: 65px;
                            font-family: $letraMon;
                            font-weight: bold;
                            color: black;
                            font-size: 13px;
                        }
                    }
                }
                .bs{
                    .bs__titulo{
                        margin-right: 10%;
                        .bs__sofia{
                        font-size: 16px;
                        color:black(196, 46, 46);
                        font-family: 'Montserrat', sans-serif;
                        font-weight: bold;
                        text-align: center;
                        margin-right: 10%;
                        margin-left: 10%;
                        }
                    }
                    .bs__imagen{
                        display: grid;
                        justify-items: end;
                        .bs__imagen__img{
                            display: grid;
                            }
                        }
                    .bs__carousel{
                        margin-right: 10%;
                        display: grid;
                        justify-content: center;
                        position: relative;
                        z-index: 1000;
                    }
                }
                .i{
                    background-color: white;
                    .i__titulo{
                        background-color: #edd0ad;
                        width: 100%;
                        text-align: left;
                        margin-bottom: 0%;
                        margin-top: 3%;
                        .i__follow{
                            font-size: 16px;
                            color:black;
                            font-family: 'Montserrat', sans-serif;
                            font-weight: bold;
                            margin-left: 10px;
                        }
                    }
                    .i__ins{
                        display: grid;
                        grid-template-columns: repeat(6,1fr);
                        margin-top:0%;
                        margin-bottom: 8%;
                        padding-top: 0%;
                        grid-gap:2px;
                        padding: 5px;
                        background-color: white(84, 226, 19);
                        width: 100%;
                        .i__img{
                            background-color: white;
                            opacity: 1;
                            margin: 0px;
                            width: 100%;
                            &:hover{
                                opacity: .8;
                            }
                        }
                    }
                }
                .whatsapp{
                    position: fixed;
                    bottom: 20px;
                    right: 0px;
                    overflow: hidden;
                    padding: 5px;
                    .whatsapp__img{
                        width: 40px;
                    }
                }
    }
}

@media only screen and (max-width: 768px){
    .contenedor{
        background-color: white;
            main{
                .imagen{
                    display: none;
                }
                .imagenr{
                    position: relative;
                    display: block;
                    justify-content: center;
                    padding: 0px;
                    margin:0px;
                    margin-left: 0%;
                    margin-right: 0%;
                    width: 100%;
                    img{
                        width: 100%;
                        margin-bottom: 5%;
                    }
                    .texto{
                        margin-top: -20%;
                        margin-bottom: 10%;
                        .boton{
                            font-family: $letraMon;
                            border-radius: 0px;
                            font-weight: bold;
                            font-size: 13px;
                            background-color: rgb(37, 37, 37);
                        }
                    }
                }
                .carteras{
                    display: flex;    
                    margin: 0px;
                    margin-top: 20%;
                    margin-bottom: 5%;
                    justify-content: space-around;
                    flex-direction: row;
                    flex-wrap: wrap;    
                    .carteras__img{
                            margin: 10px;
                            width: 250px;
                            height: 250px;                            
                            }
                    .carteras__descripcion{
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        justify-content: center;
                        margin-left: 50px;
                        margin-bottom: 15%;
                        .carteras__nombre{
                            margin-top: 0x ;
                            margin-left: 0px;
                            
                        }
                        .carteras__precio{
                            margin-left: 0px;
                            
                        }
                    }
                }
                .bs{
                    display: grid;
                    grid-template-areas: "imagen"
                                        "titulo"
                                        "carousel";
                    grid-template-columns: 1fr;
                    width: 100%;
                    .bs__imagen{
                        grid-area: imagen;
                        img{
                        width: 100%;
                        }
                    }
                    .bs__titulo{
                        grid-area: titulo;
                        margin-left:0px; 
                        font-weight: bolder;
                        background-color: black;
                        width: 100%;
                        
                        .bs__sofia{
                            color: white;
                            font-size: 12px;
                            margin-top: 5px;
                        }
                    }
                    .bs__carousel{
                        grid-area: carousel;
                        width: 100%;
                        margin-left: 0%;
                    }
                }
                .i{
                    background-color: white;
                    .i__titulo{
                        .i__follow{
                            font-size: 12px;
                        }
                    }
                    .i__ins{
                        
                        display: grid;
                        grid-template-columns: repeat(3,1fr);
                        margin-top:0%;
                        margin-bottom: 5%;
                        background-color: white;
                        .i__img{
                            opacity: 1;
                            margin-bottom: 10px;
                            padding: 0%;
                            background-color: white;
                            }
                        }
                }
                .whatsapp{
                    position: fixed;
                    bottom: 10px;
                    right: 10px;
                    overflow: hidden;
                    padding: 5px;
                    .whatsapp__img{
                        width: 40px;
                    }
                }
            }
            
    }
}

@media only screen and (min-width: 769px) and (max-width: 1300px){
    .contenedor{
            background-color: white;
                main{
                .i{
                    .i__titulo{
                        background-color: #edd0ad;
                        width: 100%;
                        text-align: left;
                        margin-bottom: 0%;
                        margin-top: 3%;
                        .i__follow{
                            font-size: 12px;
                            color: black;
                            font-family: 'Montserrat', sans-serif;
                            font-weight: bold;
                            margin-left: 13px;
                        }
                    }
                }
                .bs{
                    .bs__titulo{
                        margin-right: 10%;
                        .bs__sofia{
                        font-size: 16px;
                        color: black(196, 46, 46);
                        font-family: 'Montserrat', sans-serif;
                        font-weight: bold;
                        text-align: center;
                        margin-right: 10%;
                        margin-left: 10%;
                        }
                    }
                    .bs__imagen{
                        .bs__imagen__img{
                                width: 350px;
                            }
                    }
                    .bs__carousel{
                        margin-right: 10%;
                        display: grid;
                        justify-content: center;
                        position: relative;
                        z-index: 1000;
                        }
                    }
                }                
        }
    }
