@mixin cajas($grid){
    grid-area:$grid;
    h6{
        font-family: $letraMon;
        font-size: 15px;
        color:$colorLetra;
        font-weight: bold;
        margin-bottom: 25px;
    }
    .linea{
        border-top: 2px solid rgb(212, 210, 210);
        height: 1px;
        padding: 0;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 180px; 
    }
    h5{
        margin-bottom: 3%;
        font-family: $letraMon;
        font-size: 15px;
        margin-top: 3%;
        font-weight: bolder;
    }   
    p{
        font-family: $letraMon;
        font-size: 13px;
        font-weight: bold;
        margin: 0%;
        color: rgb(53, 52, 52);
    }
    .espacio{
        margin-bottom: 30px;
    }
    #stock::before{
        display: block; 
        content: " "; 
        margin-top: -150px; 
        height: 150px; 
        visibility: hidden; 
        pointer-events: none;
    }
    #pago::before{
        display: block; 
        content: " "; 
        margin-top: -160px; 
        height: 160px; 
        visibility: hidden; 
        pointer-events: none;
    }
    #envio::before{
        display: block; 
        content: " "; 
        margin-top: -160px; 
        height: 160px; 
        visibility: hidden; 
        pointer-events: none;
    }
    #cambios::before{
        display: block; 
        content: " "; 
        margin-top: -160px; 
        height: 160px; 
        visibility: hidden; 
        pointer-events: none;
    }
}

@mixin letras($fontsize, $letters, $decoration){
    font-size: $fontsize;
    letter-spacing: $letters;
    text-decoration: $decoration;
    font-family: $letraMon;
    margin-left: 0%;
    margin-right: 0%;
    font-weight: bold;    
}

