.demano{
    display: flex;
    flex-direction: row;
    margin-top: -5%;
    margin-bottom: 5%;
    .filtrore{
        display: none;
    }
    .filtro{
        position: fixed;
        display: flex;
        flex-direction: row;
        margin-left: 2%;
        margin-top: 10%;
        font-family: $letraMon;
        .acordionf{
            width: 250px;
            .botonf{
                color: black;
            }
            .color{
                display: flex;
                margin-bottom: 3%;
                margin-top: 1%;
                .color1{
                width: 20px;
                height: 20px;
                border-radius: 30px;
                margin-right: 10px;
                margin-top: 18px;
                background-color: #9ec2bf;
                }
                .color2{
                    @extend .color1;
                    background-color: $colorRosa;
                }
                
                .color3{
                    @extend .color1;
                    background-color: black;
                }
                .color4{
                    @extend .color1;
                    background-color: #ff3100;
                }
                .color5{
                    @extend .color1;
                    background-color: #446c86;
                }
                .color6{
                    @extend .color1;
                    background-color: #1d5521;
                }
                .color7{
                    @extend .color1;
                    background-color: #c45125;
                } 
            }
        }
    }
    .carteras{
        margin-left: 20%;
        margin-right: 0%;
        margin-top: 0%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    img{
        width: 250px;
        border: 1px #000000;
        margin: 20px;
        margin-right: 90px;
        padding-left: 0%;
    }
    h4{
        font-family: $letraMon;
        font-weight: bold;
        color: black;
        margin-top: -50px;
        margin-left: 70px;
        font-size: 15px;
    }
    h5{
        font-family: $letraMon;
        font-weight: bold;
        color: black;
        margin-left: 135px;
        font-size: 13PX;
        }
    }
}

@media only screen and (max-width: 882px){
    
    .contenedor{
        
        .demano{
            display: flex;
            background-color: white;
            .filtro{
                display: none;
                
            }
            .filtrore{
                display: flex;
                flex-direction: row;
                margin-top: 10%;
                .acordeonf{
                    width: 100%;
                    position: absolute;
                    font-family: $letraMon;
                    .color{
                        display: flex;
                        margin-bottom: 3%;
                        margin-top: 1%;
                        .color1{
                        width: 20px;
                        height: 20px;
                        border-radius: 30px;
                        margin-right: 10px;
                        margin-top: 18px;
                        background-color: #9ec2bf;
                        }
                        .color2{
                            width: 20px;
                            height: 20px;
                            border-radius: 30px;
                            margin-right: 10px;
                            margin-top: 18px;
                            background-color: $colorRosa;
                        }
                        
                        .color3{
                            width: 20px;
                        height: 20px;
                        border-radius: 30px;
                        margin-right: 10px;
                        margin-top: 18px;
                            background-color: black;
                        }
                        .color4{
                            width: 20px;
                        height: 20px;
                        border-radius: 30px;
                        margin-right: 10px;
                        margin-top: 18px;
                            background-color: #ff3100;
                        }
                        .color5{
                            width: 20px;
                        height: 20px;
                        border-radius: 30px;
                        margin-right: 10px;
                        margin-top: 18px;
                            background-color: #446c86;
                        }
                        .color6{
                            width: 20px;
                        height: 20px;
                        border-radius: 30px;
                        margin-right: 10px;
                        margin-top: 18px;
                            background-color: #1d5521;
                        }
                        .color7{
                            width: 20px;
                        height: 20px;
                        border-radius: 30px;
                        margin-right: 10px;
                        margin-top: 18px;
                            background-color: #c45125;
                        } 
                    }
                }          
            }
            .carteras{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
                margin-left: 0%;
                margin-right: 0%;
                margin-bottom: 5%;
                margin-top: 15%;
                img{
                    margin: 0px;
                    width: 300px;
                }
            }
            .whatsapp{
                position: fixed;
                bottom: 10px;
                right: 0px;
                overflow: hidden;
                padding: 5px;
                .whatsapp__img{
                    width: 40px;
                }
            }
        }    
    }
    
}

@media only screen and (min-width: 882px) and (max-width: 1024px){
    
    .contenedor{
        .demano{
            .carteras{
                margin-left: 25%;
                margin-right: 0%;
                margin-top: 5%;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
            img{
                width: 250px;
                border: 1px #000000;
                margin: 5px;
                margin-right: 0px;
                padding-left: 0%;
            }
            h4{
                font-family: $letraMon;
                font-weight: bold;
                color: black;
                margin-top: -50px;
                margin-left: 70px;
                font-size: 15px;
            }
            h5{
                font-family: $letraMon;
                font-weight: bold;
                color: black;
                margin-left: 135px;
                font-size: 13PX;
                }
            }
            .filtro{
                    display: flex;
                    flex-direction: row;
                    margin-left: 2%;
                    margin-top: 10%;
                    font-family: $letraMon;
                    .acordionf{
                        width: 250px;
                    }
            }
            .filtrore{
                display: none;
            }
            .whatsapp{
            position: fixed;
                bottom: 10px;
                right: 25px;
                overflow: hidden;
                .whatsapp__img{
                    width: 40px;
                }
            }
        }
    }
    
} 
