
        .whatsapp{
            position: fixed;
            bottom: 20px;
            right: 20px;
            overflow: hidden;
            padding: 5px;
            .whatsapp__img{
                width: 40px;
            }
        }
