*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import"grid";
@import"variables";
@import"preguntas";
@import"wh";
@import"header";
@import"footer";
@import"1927";
@import"formulario";
@import"productos";
@import"locales";
@import"main";
@import"zapatos";
@import"accesorios";

.contenedor{
    width: 100%;
}
@media only screen and (max-width: 768px){
.contenedor{
    overflow-x: hidden;
    background-color: aquamarine;
    }
}


